<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bus_booking_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bus_booking_round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar.Transparent"
        tools:ignore="AllowBackup">
        <activity
            android:name=".KikuyuRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".AlsopsEmbakasiroutesActivity"
            android:exported="false" />
        <activity
            android:name=".WestlandsPricesActivity"
            android:exported="false" />
        <activity
            android:name=".NairobiWestlandsActivity"
            android:exported="false" />
        <activity
            android:name=".MainRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".DriverdashActivity"
            android:exported="false" />
        <activity
            android:name=".DriverLoginactivity"
            android:exported="false" />
        <activity
            android:name=".PymentconfirmedJuja"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAfhTNvSIhwSZDyNJ1zmfMGzRJLJovYHaM" />

        <activity
            android:name=".MapsActivityThika"
            android:exported="false"
            android:label="@string/title_activity_maps_thika" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MapsActivityBypass"
            android:exported="false"
            android:label="@string/title_activity_maps_bypass" />
        <activity
            android:name=".MapsActivityUtawala"
            android:exported="false"
            android:label="@string/title_activity_maps_utawala" />
        <activity
            android:name=".MapsActivitykenyattard"
            android:exported="false"
            android:label="@string/title_activity_maps_activitykenyattard" />
        <activity
            android:name=".MapsActivityruiru"
            android:exported="false"
            android:label="@string/title_activity_maps_activityruiru" />
        <activity
            android:name=".ThikalocationsspecificActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivitybet"
            android:exported="false"
            android:label="@string/title_activity_maps_activitybet" />
        <activity
            android:name=".RuiaiBooking"
            android:exported="false" />
        <activity
            android:name=".WestlandsBookingActivity"
            android:exported="false" />
        <activity
            android:name=".NairobiTownBookingActivity"
            android:exported="false" />
        <activity
            android:name=".LimuruRDBookingActivity"
            android:exported="false" />
        <activity
            android:name=".KikuyuBookingActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentconfimationAtivity"
            android:exported="false" />
        <activity
            android:name=".RuiaActivity"
            android:exported="false" />
        <activity
            android:name=".NairobiTownPricesActivity"
            android:exported="false" />
        <activity
            android:name=".LimururdActivity"
            android:exported="false" />
        <activity
            android:name=".WestlandsActivity"
            android:exported="false" />
        <activity
            android:name=".KikuyuActvity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neumorphism"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThikabookingActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Neumorphism"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ThikaPaymentActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Neumorphism"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>